/* imported fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* a collection of resources which are being used by the var(--var_name) */
:root {
	--text-color: rgb(75, 75, 75);
	--background-gradient: linear-gradient(
		60deg,
		#dd00ff,
		#ff006a,
		#ff9500,
		#ff5100
	);

	--dark-color: #6b1f1f;
	--dark-blend: rgba(25, 25, 25, 0.9);
	--medium-blend: rgba(150, 150, 150);
	--bright-blend: rgba(255, 255, 255, 0.9);
	--background-color: #f1f1f1;
	--text-color: #444;

	font-family: "Fredoka One", cursive;
}

/* (#72147e, #f21170, #fa9905, #ff5200); */
/* linear-gradient(30deg, #72147e, #f21170, #fa9905, #ff5200); */

body {
	background: url(background.svg);

	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;

	background-color: var(--medium-blend);
	background-blend-mode: multiply;

	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.card {
	box-shadow: 0 1em 2em 1em rgba(0, 0, 0, 0.75);
	background-color: var(--background-color);
	border-radius: 25px;
	min-width: fit-content;
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	position: relative;
	padding: 1rem;
	color: var(--text-color);
}

.card > * {
	margin-left: auto;
	margin-right: auto;
}

.form-container {
	padding-top: 0;
	display: inline;
}

form {
	display: block;
	glyph-orientation-vertical: auto;
	margin-left: 30px;
}

input[type="text"],
input[type="number"],
select {
	text-align: center;
	width: 15em;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: 2px solid white;
	background-color: var(--text-color);
	color: white;
	margin-left: 1em;

	transform: scale(1.2);
	transition: transform 250ms;
}

input[type="submit"]:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.save > input[type="submit"] {
	border-radius: 5px 5px 10px 5px;
	border: 2px solid white;
	background-color: var(--text-color);
	color: white;
	padding-right: 0.75em;
	padding-left: 0.25em;
	height: fit-content;

	transform: scale(1.2);
	transition: transform 250ms;
	transform-origin: bottom right;
}

.save > input[type="submit"]:hover {
	transform: scale(1.5);
	cursor: pointer;
	transform-origin: bottom right;
}

.save {
	margin: 0 auto;
	text-align: right;
}

h1 {
	color: var(--dark-color);
	text-align: center;
	font-size: 3em;
}

h4 {
	text-align: center;
}

h5 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1em;
}

.select-container {
	text-align: center;
}
